<!DOCTYPE html>

<html>
<head>
    <title> supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1> Employee Management System</h1>

    <form action="./incrementSalary">


        Enter Employee ID <input type="text" name="empId"><br><br>
        Enter Increment Amount <input type="text" name="increment"><br><br> 

        <input type="submit" value="Increment Salary">

    </form>

    <br><br>
    <a href="./"> Return to Main Page</a>
</body> 
    
</html>